#main-section{
    padding-top: 150px;
}
/* developer-info > image */
.developer-info img{
    height: 250px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    box-shadow: 0rem 0.5rem 1.5rem rgb(195, 0, 255);
}