/* ================================ */
/* ============ header ============ */
/* ================================ */
/* body */
body{
    background: #010313!important;
}
/* title-color */
.title-color{
    color: rgb(203, 170, 255);
}
/* title_font-size */
.title-600{
    font-size: 48px;
    font-weight: 600;
}
/* header */
#header{
    background: transparent;
    backdrop-filter: blur(9.84375px);
    padding: 0.5rem 2.5rem;
    display: flex;
    align-items: center;
}
/* logo phero */
#header #logo-phero{
    height: 68px;
    width: 70px;
    cursor: pointer;
}
/* navbar brand */
#header #navbar-brand{
    font-size: 18px;
    font-weight: 500;
    margin-left: -10px;
    margin-top: 5px;
    cursor: pointer;
}
/* header > navbar-links > btn */
#header .btn{
    color: white;
    border: 0px;
    border-radius: 0px;
    font-size: 16px;
}
#header .btn:hover{
    background: rgba(255, 255, 255, 0.062);
}
/* header > dropdown menu */
#header .dropdown-menu{
    background-color: #150F2D;
}
/* header > dropdown menu > dropdown item */
#header .dropdown-menu .dropdown-item{
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
}
/* header > dropdown menu > dropdown item (hover) */
#header .dropdown-menu .dropdown-item:hover{
    background: black;
}
/* ================================ */
/* ============ footer ============ */
/* ================================ */
#footer{
    padding: 80px 0px 40px;
    color: #EEE0FF;
    font-size: 14px;
}
#footer .fs-6{
    font-size: 14px!important;
}
/* row */
#footer .row{
    gap: 7rem;
}
/* row > col > div */
#footer .row .col div{
    line-height: 32px;
}
/* anchor */
#footer a{
    text-decoration: none;
    color: white;
}
#footer a:hover{
    text-decoration: underline;
}
/* ================================ */
/* ========= media query ========== */
/* ================================ */
/* max width 991px */
@media (max-width: 991px) {
    /* header */
    #header{
        padding: 0.5rem 1rem;
    }
    /* navbar-link-container */
    #navbar-link-container{
        display: none!important;
    }
    /* offcanvas navbar */
    #offcanvasExample{
        height: 350px;
        width: 250px;
        background: rgba(9, 0, 34, 0.836);
        color: white;
        border: 1px solid rgba(128, 128, 128, 0.295);
        margin-top: 84px;
    }
    /* footer > article */
    #footer article{
        width: 100%!important;
    }
}
/* max width 767px */
@media (max-width: 767px) {
    /* footer > row */
    #footer .row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        gap: 3rem;
    }
    /* footer > follow section */
    #footer .follow{
        justify-content: center;
    }
}